@font-face {
    font-family: 'Regular';
    src: url( ../fonts/OpenSans-Regular.woff), 
    url(../fonts/OpenSans-Regular.woff2), 
    url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    }
    @font-face {
    font-family: 'Bold';
    src: url( ../fonts/OpenSans-Bold.woff),
     url(../fonts/OpenSans-Bold.woff2),
      url(../fonts/OpenSans-Bold.ttf);
    font-weight: 400;
    font-style: normal;
    }
    
    * {
    margin: 0;
    padding: 0;
    }
    
    /* HEADER */
    .welcome {
      background-image: url("../images/banner-bg.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #000000;
      background-size: cover;
      
      position: relative;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      
      padding-top: 50px;
      padding-bottom: 140px;

      
       
    }
    
    .welcome::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.65;
    }
    
    .caption {
     
      padding-left: 15px;
      padding-right: 15px;

      width: 1170px;
                                
      margin:auto;
      position:relative; 
      
      display: flex;
      align-items: center;
      justify-content: space-between;
       
    }
    .header-logo {
      width: 180px;
      position: relative;
      z-index: 2;
      
    }
    
    
    .menu {
      display: flex;
      justify-content:flex-end;
      margin-left: auto; 
      margin-right:0;
        
    }
    

    .nav-item {
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
    }


    .menu-list {
      display: flex;
      flex-direction: row;
      justify-content:flex-end;
      list-style-type: none;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      
      }
    
    nav {
        display: inline-block;
      list-style: none;
      
     
    }
    
    .menu-list-item a {
     text-decoration: none;
     list-style: none;
     text-transform: uppercase;
     text-align: left;
     font-family: 'Regular';
     font-size: 13px;
     line-height: normal;
     color: #ffffff; 
      
      position: relative;
      z-index: 2; 
    }
    
    .menu-list-item a:hover{
      text-decoration:underline;
    }
    
    .menu-list-item:nth-child(n+1){
      margin-right: 37px;  
    }
    
    .menu-list-item:nth-last-child(1){
      margin-right: 0px; 
    }
    
    
    .container {
    position: relative;
    z-index: 2; 
    width: 675px;
    margin: auto;
   
    
    }
    
    .welcome-title {
      text-transform: uppercase;
      text-align: center;
      font-family: 'Bold';
      font-size: 40px;
      line-height: 75px;
      padding-top: 50px;
      color: rgb(255, 255, 255);
    }
    
    /* MAIN */
    .holder{
      margin-right: auto;
      margin-left: auto;
      
     display: flex;
     flex-direction: row;
     width: 1170px;
      
     padding-left: 15px;
     padding-right: 15px;
      
     padding-top:60px;
     padding-bottom:60px;
    }
    
    .main {
     display: flex;
     flex-direction: row;
      width: 778px;
    
    }

     /* trend */
     .trend-info {
      width: 100%;
      
     }

     .trend-name {
       text-align: center;
     }

     .trend-name {
      text-decoration: none;
      list-style: none;
      text-transform: uppercase;
      font-family: 'Bold';
      font-size: 20px;
      line-height: 20px;
      color: #0f0d0e;
      margin:auto;
      margin-top: 63px;
      margin-bottom: 25px;

      
     }

     .trend-name::after {
      content: "";
      display: flex;
      background-position: center center;
      background-color: #e1d9bd;
      background-size: cover;
      
      width: 65px;
      height: 3px;
      
      margin: auto;
      margin-bottom: 13px;
      margin-top: 13px;
      
    }
    

.trend-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
     }

  .card-trend1 {
  position: relative;
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  background-size: cover;
  width: 25%;
  height: 319px;
  margin-right: 5px;


    }
  
  .card-trend2 {
    position: relative;
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    background-size: cover;
    width: 25%;
    height: 319px;
    margin-right: 5px;

        }
    
  .card-trend3 {
   position: relative;
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    background-size: cover;
    width: 25%;
    height: 319px;
    margin-right: 5px;
            }    

  .card-trend4 {
   position: relative;
  background-image: url("../images/trend4.jpg");
   background-repeat: no-repeat;
  background-position: center;
   background-color: #000000;
   background-size: cover;
   width: 25%;
   height: 319px;
                }  
                
.card-trend1,.card-trend2,.card-trend3,.card-trend4 { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;}


  .card-trend1::after,.card-trend2::after,.card-trend3::after,.card-trend4::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    } 
  
  .card__body {
    border: 3px solid #b59f5b;
    position: relative;
    z-index: 2;

    margin-bottom: 14px; 
    margin-left: 20px;
    margin-right: 20px;

    padding-bottom: 36px;
    padding-left: 33px;
    padding-right: 45px;

    overflow: hidden;
  
  }
  .card__body .teg {
    padding-top: 35px;
  }
  .card__name a {
    position: relative;
    z-index: 2;

    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Bold';
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;

  }

  .card__name a:hover {
    color: #b59f5b; 

  }
  
  
  /* contents */
    .contents {
      width: 778px;
    }
    
    .content {
      display: flex;
      flex-direction: row;
      margin-bottom: 63px;  
    }
    
    
    .content:nth-last-child(1){
      margin-bottom: 0px;
    }
    
    
    
    .content-preview {
     box-sizing: border-box;
     margin-right: 30px;
    }
    
    .course-img{
      width: 381px;
      height: 290px;
    }
    
    .course-info {
      box-sizing: border-box;
      width: 367px;
      
     }
    
    .teg{
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 15px;
     
    }
    
    .teg-menu-list a{
     text-decoration: none;
     list-style: none;
     text-transform: uppercase;
     text-align: left;
     font-family: 'Bold';
     font-size: 14px;
     line-height: 14px;
     color: #b59f5b; 
     position: relative;
     z-index: 2;
    }
    
    .teg-menu-list a:hover{
      text-decoration:underline;
    }
    
    .teg-menu-list:nth-child(n+1){
      margin-right: 30px;  
    }
    
    .teg-menu-list:nth-last-child(1){
      margin-right: 0px;
    }
    
    .course-name a{
      text-decoration: none;
      list-style: none;
      text-transform: uppercase;
      text-align: left;
      font-family: 'Bold';
      font-size: 20px;
      line-height: 24px;
      color: #000000;
     
    }
    
    .course-name a:hover {
      color: #b59f5b;
    }
    
    
    .Data-author{
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding-left: 0;
      margin-top: 20px;
      margin-bottom: 15px;
    }
    
    .data a{
     text-decoration: none;
     list-style: none;
     text-align: left;
      font-family: 'Regular';
     font-size: 12px;
     line-height: 12px;
     color: #888888;
     padding-right: 15px;
    }
    
    .author a {
     text-decoration: none;
     font-style: normal;
     list-style: none;
     text-align: left;
     font-family: 'Bold';
     font-size: 12px;
     line-height: 12px;
     color: #000000; 
    }
    
    .course-description p{
     text-align: left;
     font-family: 'Regular';
     font-size: 15px;}
    
    .course-description p{
     line-height: 22px;  
    } 

    
    
    /* aside */
    aside {
     width: 272px;
     margin-left:120px;
    }
    
    .sidebar-name{
      text-align: center;
     
    }
    
    .sidebar-name::after {
      content: "";
      display: flex;
      background-position: center center;
      background-color: #e1d9bd;
      background-size: cover;
      
      width: 65px;
      height: 3px;
      
      margin: auto;
      margin-bottom: 13px;
      margin-top: 13px;
      
    }
    
    .sidebar-name {
     text-decoration: none;
     list-style: none;
     text-transform: uppercase;
     font-family: 'Bold';
     font-size: 14px;
     line-height: 14px;
     color: #0f0d0e;
     margin:auto;
    }
    
    .sidebar-info{
      margin-right: auto;
      margin-left: auto;
      
     
    }
    
    .sidebar-content{
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 20px;
     
    }
    
    .sidebar-content:nth-last-child(1){
      margin-bottom: 0px
    }
    
    .sidebar-preview{
    box-sizing: border-box;
    margin-right: 20px;
    }
    
    .sidebare-img{
      width: 70px;
      height: 70px;
    }
    
    .sidebar-title{
      box-sizing: border-box;
      width: 180px;
    
    }
    
    .data-sidebar{
    margin-bottom: 0px;
    }
    
    .data-sidebar time{
     line-height: 12px;
    }
    
    .data-sidebar a{
     text-decoration: none;
     list-style: none;
     text-align: left;
     font-family: 'Regular';
     font-size: 12px;
     color: #888888;
      
     
      
    }
    
    h3{
       margin-top: 0;
    }
    
    .sidebar-title-name a{
      text-decoration: none;
      list-style: none;
      text-transform: uppercase;
      text-align: left;
      font-family: 'Bold';
      font-size: 14px;
      color: #000000;
      
    }
    
    .sidebar-title-name a:hover{
      color: #b59f5b;
    }
    
    .sidebar-title p{
      line-height: 18px;
    }
    
    .search-info{
      display: flex;
      flex-direction: row;
      margin: 58px 0px;
      
    }
    
    .visually-hidden {
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
    } 
    
    .field-info{
      box-sizing: border-box;
      width: 220px;
      height: 45px;
      background-color: #f4f7f6;
      
      padding: 15px 20px;
      
      border: none;
    }
    
    .button-search{
    box-sizing: border-box;
    border: none;
    padding: 15px 25px;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    
    width: 45px;
    height: 45px;
    cursor: pointer;
    } 
    
    .button-search:hover{
      background-color: #e1d9bd;
    }
    
    .subscription-adress{
      display: flex;
     flex-direction: column;
      width: 100%; 
      padding-right: 25px;
      margin-bottom: 58px;
      margin-top: 30px;
      
    }
    
    .form-row:nth-child(n+2) {
      margin-top: 20px;
    }
    
    .field{
      box-sizing: border-box;
      width: 270px;
      height: 45px;
      background-color: #f4f7f6;
      
      padding: 15px 20px;
      
      border: none;
      
    }
    
    .button {
    border: none;
    color: #ffffff;
    background-color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Bold';
    width: 270px;
    height: 45px;
    cursor: pointer;
      
    }
    
    .button:hover{
      font-size: 15px;
      text-transform:uppercase;
    }
    
    .container-teg-sidebar{
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      width: 272px;
      margin-bottom: 58px;
      margin-top: 30px;
      padding: 0;
      
      
    }
    
    .teg-sidebar-text a{
     text-decoration: none;
     list-style: none;
     text-transform: uppercase;
     text-align: center;
     font-family: 'Bold';
     font-size: 12px;
     line-height: 12px;
     color: #0f0d0e; 
     padding: 5px 14px;
     border: 3px solid #eeeeee;
     
    }
    
    .teg-sidebar-text a:hover{
      color: #b59f5b;
    }
    
    .teg-sidebar-text{
      box-sizing: border-box;;
       margin-bottom: 25px;
      
    }
    
    .teg-sidebar-text:nth-child(3n+2) {
      margin-right: 6px;
      margin-left: 6px; }
    
    .container-topic{
      list-style-type: none;
      width: 270px;
      margin-bottom: 58px;
      margin-top: 30px;
    }
    
    .topic-list a{
     text-decoration: none;
     list-style: none;
     text-align: left;
     font-family: 'Bold';
     font-size: 14px;
     line-height: 14px;
     color: #000000; 
    } 
    
    .topic-list a:hover{
      color: #b59f5b; 
    }
    
    .topic-list-item a{
      text-decoration: none;
     list-style: none;
     text-align: left;
     font-family: 'Bold';
     font-size: 14px;
     line-height: 14px;
     color: #b59f5b; 
     vertical-align: super;
    }
    
    .box-topic{
      box-sizing: border-box;;
      padding: 16px 15px;
      border-bottom: 2px solid #eeeeee;
      
    }
    
    /* product */

    .product-info {
      width: 1170px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    .product-name {
      text-align: center;
    
      text-decoration: none;
      list-style: none;
      text-transform: uppercase;
      font-family: 'Bold';
      font-size: 20px;
      line-height: 20px;
      color: #0f0d0e;
      margin:auto;
      margin-top: 63px;
      margin-bottom: 25px;
        
      }
 
    .product-name::after {
      content: "";
      display: flex;
      background-position: center center;
      background-color: #e1d9bd;
      background-size: cover;
       
      width: 65px;
      height: 3px;
       
      margin: auto;
      margin-bottom: 13px;
      margin-top: 13px;
       
     }

     .product-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
        
         }
    
    .card-product {
      display: flex;
      flex-direction: column;
      width:calc((100% - 140px)/3);
          
    
    }
      .card-product__body {
      position: relative;
      margin: auto;
    }

      .product__image{
      width: 300px;
      height: 204px;
      margin: auto;
      display: block;
        
        
      
    }

    .picture {
      margin: auto;
    }
    
      
           
     .card-product__name {
      text-decoration: none;
      list-style: none;
      text-transform: uppercase;
      text-align: left;
      font-family: 'Bold';
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 14px;
      padding-left: 23px;
     
    }

    .product__description p {
      text-decoration: none;
      list-style: none;
      text-align: left;
      font-family: 'Regular';
      font-size: 15px;
      line-height: 22px;
      color: #000000;

    }

    .additional-info:hover {
      text-decoration:underline;
    } 


    .additional-info {
      text-decoration: none;
      list-style: none;
      text-align: left;
      font-family: 'Regular';
      font-size: 15px;
      line-height: 22px;
      color: #b59f5b;
  }
    
    .product__footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      
    }

    .product__button {
      border: none;
      color: #ffffff;
      background-color: #b59f5b;
      text-transform: uppercase;
      font-size: 14px;
      font-family: 'Bold';
      width: 140px;
      height: 35px;
      margin-top: 28px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      padding-top: 15px;
      position: relative;
      z-index: 3;
      display: block;
      

}

  .product__button:hover{
    font-size: 15px;
    text-transform:uppercase;
}

.product__prices {
  display: flex;
  flex-direction: column;
}

.product__price-value, .product__rub-value {
  text-decoration: line-through;
  list-style: none;
  text-align: left;
  font-family: 'Bold';
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  
}

.product__price-new, .product__rub-new {
  text-decoration: none;
  list-style: none;
  text-align: left;
  font-family: 'Bold';
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  
}


.product-badge {
  position: relative;
  padding: 50px 20px 30px 20px;
  border: 3px solid rgba(181, 159, 91, 0.6);
  transform: translateY(-30px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;       
         
}
    

    /* footer */
    
    .footer_main{
      background-position: center center;
      background-color: #f4f7f6;
      background-size: cover;
      
      width: 1170px;
      height: 83px;
      
      padding-left: 15px;
      padding-right: 15px;
      
      margin: auto;
      margin-top: 64px;
      margin-bottom: 74px;
      
    }
    
    .address-container{
      display: flex;
      justify-content:center;
      padding-top: 30px;
      padding-bottom: 30px;
      
    }
    
    .socials-item{
     display:inline-block;
      list-style-type:none;
      -webkit-user-select:none;
      -moz-user-select:none;
      margin-right: 23px;
    }
    
    .socials-item:nth-last-child(1){
      margin-right: 0px; 
    }
    
    .twitter::after{
      content: "";
      display: flex;
      background-position: center center;
      background-color: #f4f7f6;
      background-size: cover;
      background-image: url(../svg/004-twitter.svg);
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
      width: 20px;
      height: 20px;
    
    }
    
    .pinterest::after{
      content: "";
      display: flex;
      background-position: center center;
      background-color: #f4f7f6;
      background-size: cover;
      background-image: url(../svg/001-pinterest.svg);
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
      width: 20px;
      height: 20px;
    
    }
    
    .facebook::after{
      content: "";
      display: flex;
      background-position: center center;
      background-color: #f4f7f6;
      background-size: cover;
      background-image: url(../svg/002-facebook-logo.svg);
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
      width: 20px;
      height: 20px;
    
    }
    
    .instagram::after{
      content: "";
      display: flex;
      background-position: center center;
      background-color: #f4f7f6;
      background-size: cover;
      background-image: url(../svg/005-instagram.svg);
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
      width: 20px;
      height: 20px;
    
    }
    
    .tumblr::after{
      content: "";
      display: flex;
      background-position: center center;
      background-color: #f4f7f6;
      background-size: cover;
      background-image: url(../svg/003-tumblr.svg);
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
      width: 20px;
      height: 20px;
    
    }
    
    .copyright-box{
      display: flex;
      justify-content:center;
       margin: auto;
      margin-bottom: 40px;
    }
    
    .copyright{
      text-align: center;
      font-family: 'Bold';
      font-size: 12px;
      line-height: 12px;
      color: #999999;
     
    }

        /* popup */

        .popup {
         
          width: 100%;
          min-width: 320px;
          position: fixed;
          z-index: 4;
        right: 0;
        left: 0;
       top: 0;
       bottom: 0;
       display: none;
       display: flex;
       justify-content:center;
       align-items: center;
       opacity: 0;
          
      }
        
        
      .popup::after {
          content: "";
          background-color: #000000;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0.65;
            }

        .popup__body {
           margin:auto;
           position: relative;
           z-index: 999;
           background-color: #fdfdfd;
           padding-top: 20px;
           padding-bottom: 20px;
           
           
          }

        
        .popup-name {
          text-align: center;
          
          text-decoration: none;
          list-style: none;
          text-transform: uppercase;
          font-family: 'Bold';
          font-size: 20px;
          line-height: 20px;
          color: #0f0d0e;
          margin:auto;
          margin-top: 63px;
          margin-bottom: 25px;
            
          }
      
        .popup-name::after {
          content: "";
          display: flex;
          background-position: center center;
          background-color: #e1d9bd;
          background-size: cover;
           
          width: 65px;
          height: 3px;
           
          margin: auto;
          margin-bottom: 13px;
          margin-top: 13px;
           
         }

         .form {
          display: flex;
          flex-direction: column;
          width: 327px;
        
          margin-left: 30px;
          margin-right: 30px;
         
          
        }
        
        .form-group:nth-child(n+2) {
          margin-top: 20px;
        }
        
        .select {
        border: none;
        
        font-size: 13px;
        font-family: 'Regular';
      
        width: 100%;
        height: 50px;
        padding-left: 20px;
        background-color: #f4f7f6;
        background-image: url("../svg/form-arrows.svg");
        background-size: 10px auto;
        background-repeat: no-repeat;
        background-position: center right 15px;
        color: #939594;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
      
        margin-top: 3.57%;
       
          
        }
      
        .radio-group {
          display: flex;
          flex-direction: row;
          margin-top: 12px;
          justify-content:flex-start;
      padding-left: 0; 
      
      

        }
      
        .radio:nth-child(n+2) {
          margin-left: 15px;
        }
      

        .radio-group-text {
          font-family: 'Regular';
           font-size: 13px;
           line-height: 13px;
           color: #000000; 
           padding-left: 6px;
        }

        label.radio-group-text {
          position: relative;
        }

         .radio-group-text::before {
          content: "";
          margin-right: 8px;
          display: inline-block;
          text-align: center;
          width: 20px;
          height: 20px;
          background-image: url(../svg/form-empty-circle.svg);
           background-repeat: no-repeat;
           background-position: center center;
           background-size: 20px;
           vertical-align: middle;
           justify-content:flex-start;
      padding-left: 0; 
      position: absolute;
      z-index: 4;
      left: -19px;
      
     

           
           
          }
      
          .radio-button:checked ~ .radio-group-text::before {
            background-image: url(../svg/form-circle.svg);
            position: absolute;
      z-index: 4;
            
            }
            
          .radio-button {
            opacity: 0;
          }
      
              
        
        .button-popup {
        border: none;
        color: #ffffff;
        background-color: #b59f5b;
        text-transform: uppercase;
        font-size: 13px;
        font-family: 'Bold';
        width: 327px;
        height: 47px;
        cursor: pointer;
          
        }
        
        .button-popup:hover{
          font-size: 15px;
          text-transform:uppercase;
        }
      
        .checkbox-text, .select-label, .field-label {
          text-decoration: none;
           list-style: none;
           text-align: left;
           font-family: 'Regular';
           font-size: 13px;
           line-height: 13px;
           color: #000000; 
           
        }
       
       
        .field-textarea {
          background-color: #f4f7f6;
          border: none;
          margin-top: 3.57%;
          margin-bottom: 10px;
          padding: 20px;
          width: 287px;
          height: 130px;
          resize: none;
          font-family: 'Regular';
          font-size: 13px;
          color: rgb(155, 156, 156);
        }
         
        .popup__close {
          display: block;
          position: absolute;
          right: 0;
          top: -32px;
          background-image: url("../svg/form-x.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          background-color: unset;
          cursor: pointer;
          border: none;
          margin-left: auto;
          margin-right: 0em;
      
      }
      
       
      .popup__close:focus {
        outline: none;
      }
      
      .popup__close_size {
        width: 20px;
        height: 20px;
      }
      
  
 /*! ==============================!!! tablet !!!============================= */

@media (min-width: 641px) and (max-width: 1200px) {

  /* HEADER */ 
.welcome {
  width: 100%;
  background-image: url("../images/banner-bg-tablet.jpg");
}

.caption {
  width: 90%;
}


.menu-list {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute; 
}

.menu__button {
  width: 1.4em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.menu__button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}


.menu__button:before, .menu__button:after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.menu__button:before {
  top: 0;
}

.menu__button:after {
  bottom: 0;
}

.container {
  width: 90%;
}

/* trend */
.card-trend1, .card-trend2, .card-trend3, .card-trend4 {
  width: 49.5%;
  margin: 0;
 margin-right: 3px;
 margin-top: 3px;

}
.trend-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}


/* MAIN */
.holder{
  width: 90%;
  display: flex;
  justify-content: normal;
    }

/* contents */

.main {
  width: 100%;
    }

.contents {
  width: 40%;
    }

.content{
display: flex;
flex-direction: column;
margin-bottom: 33px;
   } 

   .teg {
    margin-top: 10px; }

    .content-preview {
      margin-right: 0px;
  }
  

    .course-name a {
      font-size: 15px;
      line-height: 17px; }

      .course-description::after {
        content: "";
        display: flex;
        background-position: center center;
        background-color: #ededed;
        background-size: cover;
        
        width: 390px;
        height: 3px;
        
        margin: auto;
        margin-bottom: 19px;
        margin-top: 19px;
        
      }
      
/* aside */
aside {
  width: 30%;
  margin: 0;
  margin-left: 35px;

}

field {
  
  width: 230px; 
}

button {
  width: 230px;  
}



/* product */
.product-info {
  width: 90%;
  
}
  

.product-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
       }

.card-product {
  display: flex;
  flex-direction: column;
  width:calc((100% - 20px)/2);
      }



.picture {
  width: 48.3%;
}

.product-badge {     
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transform: translateY(-30px);
  padding: 50px 20px 30px 20px;
  

}

.product__image{
  width: 291px;
  height: 230px;
  margin: auto; }
  
/* footer */
.footer_main {
  width: 90%; 
}

 /* popup */
 .popup__body {
  padding: 50px 30px;
  font-size: 20px;
 }

 .radio-group-text {
  padding-left: 19px;
  padding-top: 5px;
}

 .radio-group-text::before {
  width: 30px;
  height: 30px;
  background-size: 30px; 
}

 .popup-name {
  font-size: 18px;
 }

}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .card-trend1, .card-trend2, .card-trend3, .card-trend4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 24.5%;
  }
}

/*! ==============================!!! mobile !!!=============================*/
@media (max-width: 639px) {

 /* HEADER */ 
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../images/banner-mobile.jpg");
  text-align: center; 

}

.caption {
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10%;
  
}

.welcome-title {
font-size: 26px;
line-height: 1.385;
padding-top: 0;
}

.container {
  width: 90%;
  margin-top: 0;
}

.header-logo {
  width: 90%;
  padding-top: 10%;
}


.menu-list {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute; 
}

.menu__button {
  width: 1.4em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  text-indent: -9999px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  top: -170px;
}

.menu__button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}


.menu__button:before, .menu__button:after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.menu__button:before {
  top: 0;
}

.menu__button:after {
  bottom: 0;
}

/* trend */
.card-trend1, .card-trend2, .card-trend3, .card-trend4 {
  width: 100%;
  margin: 0;
 margin-right: 3px;
 margin-top: 3px;

}
.trend-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.holder {
  display: flex;
  flex-direction: column;
  width: 90%; 
  padding-bottom: 40px;
}

.main {
  width: 100%; 
}

.contents {
  width: 100%;
  margin: auto;
  padding: 0;
    }

.content{
display: flex;
flex-direction: column;
margin-bottom: 33px;
   } 

   .content-preview {
    margin-right: 0px;
}

.course-name a {
  font-size: 15px;
  line-height: 15px;
}

   .teg {
    margin-top: 10px; }

  .course-name a {
      font-size: 17px;
      line-height: 20px; }

  .course-description::after {
    content: "";
    display: flex;
    background-position: center center;
    background-color: #ededed;
    background-size: cover;
        
    width: 100%;
    height: 3px;
        
    margin: auto;
    margin-bottom: 19px;
    margin-top: 19px;
        
      }

.course-img {
  width: 100%;
  object-fit: contain;
  height: auto; 
}

.course-info {
  width: 100%;
}

.course-info .teg {
  margin-top: 17px;
}

 /* aside */
 aside {
  width: 100%;
  margin: 0;
 }

 .sidebar-title {
  width: 100%;
 }

 .sidebar-name {
  margin-top: 40px;
  font-size: 16px;
 }

 sidebare-img {
  width: 19%;
 }

 .field-info {
  width: 100%;
 }

 .field {
  width: 100%;
 }

 .button {
  width: 100%;
 }

 .container-teg-sidebar {
  width: 100%;
 }

 .teg-sidebar-text {
  margin-right: 5px;
 }

 .teg-sidebar-text:nth-child(3n+2) {
  margin-right: 5px;
  margin-left: 5px;
 }
 
/* product */
.product-info {
  width: 90%;
  
}

.product-name {
  margin-top: 0px;
  width: 90%;
}

.product-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}

.card-product {
  width: 100%;
}

.picture {
  width: 100%;
  object-fit: contain;
  height: auto; 
}

.product-badge {
  
  padding: 50px 20px 30px 20px;

}

.product__image{
  width: 284px;
  height: 283px;
  margin: auto; }
  

.product__prices {
  width: 25%;
}

button product__button {
  width: 65%;
}

/* footer */
.footer_main {
  width: 90%; 
}

/* popup */
.popup__body {
  padding: 30px 20px;
  font-size: 20px;
 }

 .popup-name {
  font-size: 15.5px;
 }

 .radio-group-text {
  padding-left: 19px;
  padding-top: 5px;
}

 .radio-group-text::before {
  width: 30px;
  height: 30px;
  background-size: 30px;
}

}

@media (max-width: 640px) and (orientation: landscape) {
  .card-trend1, .card-trend2, .card-trend3, .card-trend4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 49%;
    margin: 0;
    margin-right: 3px;
    margin-top: 3px; 
  }
}